.Navbar {
    background-color: rgb(226, 236, 246);
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 10;
}

.Menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.Nav-menu {
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    width: 100%;
    max-width: 250px;
}

.Nav-menu-active {
    left: 0;
    transition: 350ms;
}

.Nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.Nav-text a {
    text-decoration: none;
    color:rgb(16, 63, 110);
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    border-radius: 4px;
    font-family: Helvetica, sans-serif;
    width: 95%;
}

.Nav-text a:hover {
    background-color: #1a83ff;
}

.Nav-menu-items {
    width: 100%;
}

.Navbar-toggle {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    color:rgb(16, 63, 110);
    font-size: 24px;
}

span {
    margin-left: 16px;
}