.Contact {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 50% 50%;
}

.Contact .Content{
    background-color: var(--secondary-color);
    padding: 5%;
}

.Contact button {
    border: 0;
    background-color: var(--secondary-color);
    color: #eee;
    font-weight: bolder;
    font-size: 18px;
}

.Contact .Form{
}

.Contact h2 {
    font-size: 3rem;
    text-align: left;
    padding-bottom: 2%;
    color: #eee;
}

.Contact p,
.Contact a {
    color: #eee;
}

.Contact a:hover,
.Contact button:hover {
    font-size: 1.5rem;
}

.Contact .Content ul {
    color: #eee;
    padding-left: 5%;
    font-weight: bold;
}

.Contact li {
    padding: 0.5rem 0;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .Contact {
        grid-template-columns: repeat(1, 1fr);
    }
}