.Footer {
    width: 100%;
    background-color: #000;
    color: #eee;
    padding: 3rem 1rem;
}

.Footer .container {
    max-width: 1240px;
    margin: auto;
    text-align: center;
}

.Footer ul {
    display: flex;
    justify-content: center;
}

.Footer li {
    padding: 1rem;
}

.Footer li a {
    color: #fff;
}

.Footer li a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--primary-color);
    color: var(--primary-color);
}

.Bottom {
    text-align: center;
    padding-top: 3rem;
}

.Line {
    margin-bottom: 1rem;
}

@media screen and (max-width:940px) {
    
    .Footer {
        max-width: 100%;
    }

    .Footer ul {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}