.InfoCard {
    border: 1px solid #eee;
    box-shadow: 15px 40px 15px var(--primary-color);
    padding: 1rem;
}

.InfoCard p {
    color: var(--secondary-dark);
    font-size: 1rem;
    margin: 12px;
}

.InfoCard img {
    width: 8rem;
    height: 8rem;
    border: 1px solid var(--primary-dark);
    border-radius: 25%;
}

.InfoCard .Icon {
    background-color: white;
    border-radius: 25%;
    height: 8rem;
    width: 8rem;
    color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
    text-align: center;
}

.InfoCard .Pic {
    margin-top: -4rem;
    margin-left: 1rem;
    display: flex;
}

.InfoCard span {
    color: var(--primary-dark);
    font-size: 1.2rem;
    font-weight: 700;
}

.InfoCard.Linked:hover {
    background-color: var(--primary-color-translucent);
    border: 1px solid var(--primary-color-translucent);
}

@media screen and (max-width: 940px) {
    .InfoCard {
        max-width: 100%;
        margin: 1rem;
        box-shadow: 10px 30px 15px var(--primary-color);
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .InfoCard p{
        font-size: 14px;
    }

    .InfoCard span {
        font-size: 20px;
    }
}