.Header {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: var(--overlay);
}

.Header .Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
}

.Header a {
    color: #ffffff;
}

.Header .Navbar img {
    width: 250px;
    height: auto;
}

.Header .Nav-menu {
    display: flex;
}

.Header .Nav-item {
    padding: 1rem;
    font-weight: 500;
}

.Header a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--primary-dark);
    color: var(--primary-dark);
    font-weight: 1000;
}

.Hamburger {
    display: none;
    color: #eee;
}


@media screen and (max-width:940px) {
    .Header {
        max-width: 100%;
        background-color: var(--primary-color);
    }

    .Header .Navbar {
        max-width: 100%;
    }

    .Header a {
        font-weight: 700;
    }

    .Hamburger {
        display: block;
    }

    .Nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background-color: var(--primary-color);
        width: 100%;
        min-height: 20vh;
        z-index: 999;
        text-align: center;
        transition: .3s;
    }

    .Nav-menu.active {
        left: 0;
    }

    .Nav-item {
        margin: 1.5rem 0;
    }

    .Header .Navbar img {
        width: 150px;
    }
}