.Projects {
    width: 100%;
    padding: 4rem 1rem 0 1rem;
    height: 100%;
    font-style: bold;
}

.Projects .Container {
    width: 90%;
    margin: 0 auto;
    padding-top: 4rem;
}

.Projects h2 {
    font-size: 3rem;
    text-align: left;
    padding: 2% 0;
    color: var(--primary-dark)
}

.Projects .Line {
    margin: auto 0;
    padding-left: 10%;
    background-color: var(--primary-dark-translucent);
}

.Projects .Container .Content {
    margin-top: 4rem;
}

@media screen and (max-width: 940px) {

    .Projects {
        padding-bottom: 5rem;
    }

    .Projects h2 {
        text-align: center;
    }

    .Projects .Line {
        margin: auto;
    }

    .Projects .Container {
        width: 100%;
    }

    .Projects .Container .Content {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5% 5%;
    }

    .Projects.Title {
        padding-top: 0;
    }
    
}