.Publications {
    width: 100%;
    font-style: bold;
    margin: 0 auto;
}

.Publications .Container {
    margin: 0 auto;
    width: 90%;
    padding: 4rem 0rem;
}

.Publications h2 {
    font-size: 3rem;
    text-align: left;
    padding: 2% 0;
    color: var(--primary-dark)
}

.Publications .Container .Content {
    margin-top: 4rem;
}

.Publications .Line {
    margin: auto 0;
    padding-left: 10%;
    background-color: var(--primary-dark-translucent);
}

@media screen and (max-width: 940px) {

    .Publications {
        margin-bottom: 10rem;
    }

    .Publications h2 {
        text-align: center;
    }

    .Publications .Line {
        margin: auto;
    }

    .Publications .Container {
        width: 100%;
        padding: 2rem 0;
    }

    .Publications.Title {
        padding-top: 0;
    }
}