.Work {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
}

.Work .Container {
    width: 90%;
    margin: 4rem auto;
    padding-top: 4rem;
}

.Work h2 {
    font-size: 3rem;
    text-align: center;
}

.Work .Container .Content {
    grid-template-columns: auto auto;
    grid-gap: 10%;
    display: grid;
    margin-top: 4rem;
}

@media screen and (max-width: 940px) {

    .Work .Container {
        width: 100%;
        margin: 0;
    }

    .Work .Container .Content {
        display: block;
    }
    
    .Work .InfoCard {
        margin: 20% 0;
    }
}