:root {
  --primary-color: rgb(137, 200, 239);
  --primary-color-translucent: rgb(137, 200, 239, 0.5);
  --primary-dark: rgb(0, 45, 90);
  --primary-dark-translucent: rgb(0, 45, 90, 0.5);
  --secondary-color: rgb(51, 61, 170);
  --secondary-color-translucent: rgb(51, 61, 170, 0.5);
  --secondary-dark: rgb(16, 20, 65);
  --secondary-dark-translucent: rgb(6, 20, 65, 0.5);
  --overlay: rgba(6, 20, 65, 0.9);
  --picture-overlay: rgba(180, 215, 250, 0.3);
  --translucent-white: rgb(255, 255, 255, 0.5);
  --thickness: 1px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  line-height: 1.2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: circle;
}

a {
  text-decoration: none;
}

p {
  color: var(--primary-dark)
}

.Line {
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--secondary-color);
}

.Typewriter {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.FullScreenMarginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 90%;
}